{% extends 'TCD/base.html' %}

{% load cms_tags static fontawesome %}


{% block content %}

<!-- Header -->
	<header id="header">

		<h1>Tiempo con Dios</h1>
		<p> 23, 24 y 25 de Marzo <br />
		Deja que Dios transforme tu vida </p>
	</header>

<!-- Signup Form -->
	<form method="post" class="signup-form" action="{% url 'newsletter_subscribe_request' newsletter_slug='tcd' %}">
		{% csrf_token %}
		<input  id="email_field" type="email" name="email_field" placeholder="Correo electronico" />
		{% if form.email.help_text %}
			<p class="help">{{ form.email.help_text|safe }}</p>
		{% endif %}
		<input type="submit" value="Registrarse" />
	</form>

{% endblock %}

{% block javascript %}
<script>
var url_redirect = "{% url 'newsletter_subscribe_request' newsletter_slug='tcd' %}";

function SubForm(e){
	e.preventDefault();
	var url=$(this).closest('form').attr('action'),
			data=$(this).closest('form').serialize();
	$.ajax({
			url:url_redirect,
			type:'post',
			data:data
			});
	};
</script>
{% endblock%}
