{% load cms_tags CBF_filters %}
      <!-- start: big-cards -->
      <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin>
        {% for element in elements %}
        <div class="uk-width-medium-1-2">
          <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
              <figure class="uk-overlay uk-overlay-scale">
                <img class="uk-overlay uk-overlay-scale" width="660" height="400" src="{{ element.img.url }}" alt="">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-column
                uk-flex-middle  uk-text-center uk-overlay uk-overlay-scale">
                  <div class="uk-container">
                    <h2 class='card-title'><a href="{% url element|get_url_detail_app slug=element.slug %}"> {{ element.name }}  </a> </h2>  
                    <div class="uk-panel-badge uk-badge"> {{ element_name }} </div>
                    <hr class="uk-grid-divider "></hr>
                  </div>                                             
                  <div class="uk-container">
                    <div class=" uk-flex uk-flex-center uk-flex-middle uk-flex-space-around uk-text-center">
                      <a class="uk-icon-hover uk-icon-inbox right card-social-button" href="mailto:?subject={{ element_name }} - {{ element.name }}&body={{ request.get_host }}{% url element|get_url_detail_app slug=element.slug %}"> </a> 
                      <a class="uk-icon-hover uk-icon-twitter right card-social-button"
                        href="https://twitter.com/intent/tweet?&text={{ element_name }}&url={{ request.get_host }}{% url element|get_url_detail_app slug=element.slug %}&hashtags={{ element_name }}&via=ComunidadBF"> </a> 
                      <a id="fb-share-{{ element.name }}" class="uk-icon-hover uk-icon-facebook right card-social-button"> </a> 
                    </div>  
                  </div>
                </figcaption>
              </figure>
            </div>
            {% for tag in element.tags.all %}
              <a class="uk-badge uk-badge-success card-tag"  href="{% url 'home:search' %}?tag={{ tag.name }}"> {{ tag.name }}  </a> 
            {% endfor %}
            <h5 class='card-date'> {{ element.date_created|date:"d/m/Y" }}  </h6>
            <h3 class="card-content"> {{ element.summary }} </h3>
            <div class="left"> 
              <a class="uk-icon-map-marker uk-icon-large"  href="{{ element.gmail_link.url }}">  </a>
              <h5 class="right location-info"> {{ element.location }} </h5>
            </div>
          </div>
        </div>  <!-- end: big cards-ll->
      {% block facebook_share %}
        {% include "CBF/components/fb-share.html" with element=last_element %}
      {% endblock facebook_share  %}

        {% endfor %} 
