{% load cms_tags static CBF_filters %}
      <div class="uk-container uk-container-center">
        <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin>
          {% for element in elements %}
            <div class="uk-width-medium-1-3">
						  <div class="uk-panel uk-panel-box">
    					  <div class="uk-panel-teaser">
                  <figure class="uk-overlay uk-overlay-scale">
                    <img class="uk-overlay uk-overlay-scale" width="660" height="400" src="{{ element.img.url }}" alt="">
                    <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-column
                    uk-flex-middle  uk-text-center uk-overlay uk-overlay-scale">
                      <div class="uk-container">
                        <h2 class='card-title'><a href="{% url element|get_url_detail_app slug=element.slug %}"> {{ element.name }} </a> </h2>  
                        <div class="uk-panel-badge uk-badge"> {{ element|get_element_name }} </div>
                        <hr class="uk-grid-divider "></hr>
                      </div>                                             
                      <div class="uk-container">
                        <div class=" uk-flex uk-flex-center uk-flex-middle uk-flex-space-around uk-text-center">
                          {% for social_media in element.author.socialmedia_set.all %}
                            {% if social_media.name == 0 %}
                            <a id="fb-share-{{ element.name }}" class="uk-icon-hover uk-icon-facebook right card-social-button"> </a>
                            {% endif %}
                            
                            {% if social_media.name == 2 %}
                              <a class="uk-icon-hover uk-icon-twitter right card-social-button"
                                href="https://twitter.com/intent/tweet?&text=Estoy viendo {{ element.name }} - {{element.author.name }}&url={{ request.get_host }}{% url element|get_url_detail_app slug=element.slug %}&hashtags={{ element_name }}&via=ComunidadBF"> </a> 
                            {% endif %}
                          {% endfor %}
                          <a class="uk-icon-hover uk-icon-inbox right card-social-button" href="mailto:?subject={{ element_name }} - {{ element.name }}&body={{ request.get_host }}{% url element|get_url_detail_app slug=element.slug %}"> </a>
                        </div>  
                      </div>
                      <div class="uk-container">
                        <div class=" uk-flex uk-flex-order-last uk-flex-middle uk-flex-row uk-flex-space-around uk-text-center">
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </div>
                {% for tag in element.tags.all %}
                <a class="uk-badge uk-badge-success card-tag"  href="{% url 'home:search' %}?tag={{ tag.name }}"> {{ tag.name }} </a>  
                {% endfor %}
                <h5 class='card-date'> {{ element.date_created|date:"d/m/Y" }} </h6>
                <h3 class="card-content"> {{ element.summary }} </h3>
                <div class="left">
                {% if element.location != None %}
                  <a class="uk-icon-map-marker uk-icon-large"  href="{{ element.gmail_link.url }}">  </a>
                  <h5 class="right location-info"> {{ element.location }} </h5>
                {% else %}
                  <img class="profile-image" width="50px" height="50px" src ="{{ element.author.profile_img.url }}">
                  <h4 class="right detail-preacher-title"> {{ element.author.name }} </h4>
                {% endif  %}
                </div>
              </div>
            </div>
            {% block facebook_share %}
              {% include "CBF/components/fb-share.html" with element=element %}
            {% endblock facebook_share  %}

          {% endfor %}
          </div> 
        </div>
      </div> <!-- end: preaches -->

   
