{% block detail_component %}


{% block title%} {{ element.name }}  {% endblock title %}

{% block meta %}

<meta property="og:url"
      content="{{ request.path }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ element.name }}" />
<meta property="og:description"        content="{{ element.content }}" />
<meta property="og:image"
      content="{{ element.img.url}}"/>

{% endblock meta %}


  <div class="uk-margin-large-bottom uk-margin-large-top">
   <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin>  
      <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box">
          <div class="uk-panel-teaser">
            <img width="100%" height="300px" src="{{ element.img.url }}" alt="">
          </div>
          <div class="uk-panel-badge uk-badge"> Reflexiones </div>
            <div class="uk-margin-large-top uk-margin-large-bottom "></div>
            <h1 class='detail-title'> {{ element.name }} </h1> 
              <div>
                {% for tag in element.tags.all %}
                  <a class="uk-badge uk-badge-success card-tag"  href=""> {{ tag.name }} </a>  
                {% endfor %}
             </div> 
              <h6 class='card-date left'> {{ element.date_created|date:"d/m/Y" }} </h6>                
            <div class="uk-margin-large-top uk-margin-large-bottom"></div>
            <p class="detail-content"> {{ element.content }} </p>
            <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom "></hr>
            <div class="uk-flex uk-flex-order-first uk-flex-row uk-flex-middle detail-profile"> 
              <img class="profile-image" width="50px" height="50px" src =" {{ element.author.profile_img.url }} ">
              <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-column" style="padding-left: 20px;">
                <h5 class="detail-preacher-title"> {{ element.author.name }} </h5>
                <h5 class="detail-preacher-role"> {{ element.author.get_role }} </h5>
              </div>
              <div class="detail-icon-container uk-flex-order-end">
                <a class="uk-icon-hover detail-icon uk-icon-medium uk-icon-facebook " ></a> 
                <a class="uk-icon-hover detail-icon uk-icon-medium uk-icon-twitter  " > </a> 
                <a class="uk-icon-hover detail-icon uk-icon-medium uk-icon-inbox ">     </a> 
              </div>

            </div>

            <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-row">
            </div>
          </div>
        </div>

{% endblock %}
