{% load CBF_filters %}
{% load static from staticfiles %}

{% block detail_component %}

{% block title %} 
 
  {% if element.author %}
    <title> {{ element.name }} - {{ element.author.name }} </title>
  {% else %}
    <title> {{ element.name }} - {{ element.location }} </title>
  {% endif %}

{% endblock title %}

{% block additional_js %}

    <script src="{% static 'js/lightbox.min.js' %}"> </script> <!-- end:slider -->
    <script src="{% static 'js/lightbox.js' %}"> </script> <!-- end:slider -->

{% endblock additional_js %}

{% block meta %}

  <meta property="og:url"         content="{{ request.path }}" />
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="{{ element.name }}" />
  <meta property="og:description" content="{{ element.content }}" />
  <meta property="og:image"       content="{{ element.img }}" />
  <meta property="og:site_name"       content="Comunidad Biblica De Fe" />
  <meta property="fb:app_id"       content="467287143617437" />


{% endblock meta %}

  <div class="uk-margin-large-bottom uk-margin-large-top">
   <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin>  
      <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box">
        {% if element.url  %}
          <div class="uk-panel-teaser">
            <figure class="uk-overlay uk-overlay-scale">
              <img width="100%" height="300px" src="{{ element.img.url }}" alt="">
              <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-column uk-flex-middle  uk-text-center uk-overlay uk-overlay-scale">
                <div class="uk-container">
                  <a class="uk-icon-hover uk-icon-play uk-icon-large"  href="#video-modal" data-uk-modal> </a>

                  <div class="uk-panel-badge uk-badge"> {{ element|get_element_name }} </div>
                </div>
              </figcaption>
            </figure>
          </div>
            {% else %}
          <div class="uk-panel-teaser">
            <img width="100%" height="300px" src="{{ element.img.url }}" alt="">
            <div class="uk-panel-badge uk-badge"> {{ element|get_element_name }} </div>
          </div>
            {% endif %}

            <div class="uk-margin-large-top uk-margin-large-bottom "></div>
            <h1 class='detail-title'> {{ element.name }} </h1> 
              <div>
                {% for tag in element.tags.all %}
                  <a class="uk-badge uk-badge-success card-tag"  href="{% url 'home:search' %}?tag={{ tag.name }}"> {{ tag.name }} </a>  
                {% endfor %}
             </div> 
              <h6 class='card-date left'> {{ element.date_created|date:"d/m/Y" }} </h6>                
            <div class="uk-margin-large-top uk-margin-large-bottom"></div>
            <p class="detail-content"> {{ element.content }} </p>
            <hr class="uk-grid-divider uk-margin-large-top uk-margin-large-bottom "></hr>
            <div class="uk-flex uk-flex-order-first uk-flex-row uk-flex-middle detail-profile"> 
              {% if element.author %}
                <img class="profile-image" width="50px" height="50px" src =" {{ element.author.profile_img.url }} ">
              {% else %}
                <a class="uk-icon-map-marker uk-icon-large"  href="{{ element.gmail_link.url }}">  </a>
              {% endif %}
              <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-column" style="padding-left: 20px;">
                <h5 class="detail-preacher-title"> {{ element.author.name }} </h5>
                <h5 class="detail-preacher-role"> {{ element.author.get_role }} </h5>
              </div>
              <div class="detail-icon-container uk-flex-order-end">
                <a id="fb-share-{{ element.name }}" class="uk-icon-hover detail-icon uk-icon-medium uk-icon-facebook" ></a> 
                <a class="uk-icon-hover detail-icon uk-icon-medium uk-icon-twitter" href="https://twitter.com/intent/tweet?&text=Estoy viendo {{ element.name }} - {{ element.author.name }}&url={{ request.build_absolute_uri }}&hashtags={{ element_name }}, CBF&via=ComunidadBF"> </a> 
                <a class="uk-icon-hover detail-icon uk-icon-medium uk-icon-inbox " href="mailto:?subject={{ element_name }} - {{ element.name }}&body={{ request.build_absolute_uri }}" >     </a> 
              </div>
            </div>
            <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-row">
            </div>
          </div>
        </div>
        <!-- start: Video Modal -->
          <section>
            <div id="video-modal" class="uk-modal">
              <div class="uk-modal-dialog uk-modal-dialog-blank uk-height-viewport">
                <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
                  <div class="uk-cover-background">
                    <iframe width="1280" height="720" src="{{ element.url | get_embed_url}}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div> 
            </div>
          </section> <!-- end: Video Modal -->
      {% block facebook_share %}
        {% include "CBF/components/fb-share.html" with element=element %}
      {% endblock facebook_share  %}

{% endblock %}
