{% load cms_tags static %}

{% block main-leaders %}

        <!-- start: main leaders -->
        <div class="uk-grid uk-margin-large-bottom uk-margin-large-top" data-uk-grid-margin>
          <!-- start: cris-diana -->
          <div class="uk-width-medium-1-3 uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
              <figure class="uk-overlay">
                <img class="uk-border-circle" width="250" height="250" src="static/img/cris-diana.png" alt="">
                  <figcaption class="uk-overlay uk-overlay-fade uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                    <div>
                      <a href="#" class="uk-icon-button uk-icon-envelope"></a>
                      <a href="#" class="uk-icon-button uk-icon-twitter"></a>
                      <a href="#" class="uk-icon-button uk-icon-google-plus"></a>
                    </div>
                  </figcaption>
              </figure>
            </div>
            <h2 class="uk-margin-bottom-remove"> Cristopher y Diana </h2>
            <p class="uk-text-large uk-margin-top-remove uk-text-muted"> Pastores de jóvenes </p>
          </div> <!-- end: cris-diana -->
            
          <!-- start: victor-medina -->
          <div class="uk-width-medium-1-3 uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
              <figure class="uk-overlay ">
                <img class="uk-border-circle" width="250" height="250" src="static/img/victor-medina.png" alt="">
                <figcaption class="uk-overlay uk-overlay-fade uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                  <div>
                    <a href="#" class="uk-icon-button uk-icon-envelope"></a>
                    <a href="#" class="uk-icon-button uk-icon-twitter"></a>
                    <a href="#" class="uk-icon-button uk-icon-google-plus"></a>
                  </div>
                </figcaption>
              </figure>
            </div>
						<p> <a href="#modal-form" class="uk-icon-button uk-icon-calendar-plus-o" data-uk-modal></a> </p>
						<h2 class="uk-margin-bottom-remove"> Víctor Medina </h2>
            <p class="uk-text-large uk-margin-top-remove uk-text-muted"> Pastor titular</p>
          </div> <!-- end: victor-medina -->
					
          <!-- start: jose-rosa -->
          <div class="uk-width-medium-1-3 uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
              <figure class="uk-overlay ">
                <img class="uk-border-circle" width="250" height="250" src="static/img/jose-rosa.png" alt="">
                <figcaption class="uk-overlay uk-overlay-fade uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                  <div>
                    <a href="#" class="uk-icon-button uk-icon-envelope"></a>
                    <a href="#" class="uk-icon-button uk-icon-twitter"></a>
                    <a href="#" class="uk-icon-button uk-icon-google-plus"></a>
                  </div>
                </figcaption>
              </figure>
            </div>
            <h2 class="uk-margin-bottom-remove"> José y Rosa </h2>
            <p class="uk-text-large uk-margin-top-remove uk-text-muted"> Pastores de familia </p>
          </div> <!-- end: jose-rosa -->
        </div> <!-- end: main leaders -->

{% endblock main-leaders %}

