{% load cms_tags sekizai_tags static compress %}

{% block pagination %}
  {% if is_paginated %}

    <ul class="uk-pagination">
      
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.start_index }}"> << </a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}"> < </a></li> 
      {% endif %}
      
      {% for i in paginator.page_range %}
        
        {% if page_obj.number == i %}
          <li class="uk-active"><span> {{ i }} </span></li>

        {% else %}
          <li><a href="?page={{ i }}"> {{ i }} </a></li>
        {% endif %}

      {% endfor %} 

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.end_index }}"> >> </a></li>
        <li><a href="?page={{ page_obj.next_page_number }}"> > </a></li>
      {% endif %}

    </ul>

  {% endif %}
{% endblock pagination %}
