{% load cms_tags static %}

{% block principles %}

    <!-- start: principles -->    
    <div class="uk-container uk-container-center">
      <div class="uk-margin-large-bottom uk-margin-large-top"> 
        <!-- start: first row -->
        <div class="uk-grid " data-uk-grid-margin>
          <div class="uk-width-medium-1-3">
            <div class="uk-grid">
              <div class="uk-width-1-6">
                <i class="uk-icon-hand-paper-o  uk-icon-large uk-text-primary"></i>
              </div>
              <div id="purposes-text" class="uk-width-5-6">
                <h2 class="uk-h3"> Adoración  </h2>
                <p>Para alabar y glorificar a Dios en todos los servicios públicos y actividades especiales que realiza (Juan 4:24).</p>
              </div>
            </div>
          </div>

          <div class="uk-width-medium-1-3">
              <div class="uk-grid">
                  <div class="uk-width-1-6">
                      <i class="uk-icon-bullhorn uk-icon-large uk-text-primary"></i>
                  </div>
                  <div id="purposes-text" class="uk-width-5-6">
                      <h2 class="uk-h3"> Evangelismo </h2>
                      <p>Para compartir las buenas nuevas de Jesucristo con las personas en nuestra comunidad, país y en todo el mundo (Mateo 28:18-20, Hechos 1:8, 2 Pedro 3:9) </p>
                  </div>
              </div>
          </div>

        <div class="uk-width-medium-1-3">
          <div class="uk-grid">
            <div class="uk-width-1-6">
              <i class="uk-icon-book uk-icon-large uk-text-primary"></i>
            </div>
            <div id="purposes-text" class="uk-width-5-6">
              <h2 class="uk-h3"> Discipulado </h2>
              <p>Para ayudar a los miembros a desarrollarse, alcanzando la plena madurez cristiana y capacitarlos para un ministerio eficaz, donde se promueva el crecimiento espiritual a través de las enseñanzas de la Biblia (Efesios 4:11-13, Mateo 18:20, 2 Timoteo 2:1-2).</p>
            </div>
          </div> <!-- end: principles -->

{% endblock principles  %}



