{% load cms_tags static %} 
  <!-- start: follow-us -->
  <div  id="siguenos" class=" uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
    <figure class="uk-overlay">
      <img src="{% static "img/follow-us.jpg" %}" alt="">
      <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-text-center">
          <div class="uk-width-1-1"> 
            <h1 class="main-title uk-text-center"> ¡Síguenos! </h1>
          </div>
          <div class="uk-width-1-1 uk-margin-large-top uk-margin-bottom">
            {% form %}
          </div>
          <div class="uk-container uk-container-center"> 
            <div class="uk-width-1-1 uk-margin-bottom">                      
              <h2 class="uk-text-center"> Recibe noticias sobre nuestras actividades y últimas predicas </h2>
            </div>
          </div>    
      </figcaption>
    </figure>
  </div> <!-- end: follow-us -->


