{% extends "CBF/base.html" %}

{% load cms_tags sekizai_tags compress menu_tags cache fontawesome %}
{% load static from staticfiles %}


{% block content %}

    {% block banner %}
      {% include "CBF/components/banner.html" %}    
    {% endblock banner %}
  
  <div class="uk-container uk-container-center">

   {% placeholder "Texto direccion de la iglesia" %}
 
   {% placeholder "Mapa de la iglesia" %}
   
   {% placeholder "Titulo de principios" %}

  </div>
    {% with principle_group.principle_set.all as principle_group %}
      {% block principles %}
        {% include "CBF/components/principles.html" with principle_group=principle_group %}    
      {% endblock principles %}
    {% endwith %}

    {% placeholder "Titulo de lideres principales" %}

    {% with main_leaders as leaders %}
      {% block main_leaders %}
        {% include "CBF/components/leaders.html" with leaders=leaders %}    
      {% endblock main_leaders %}
    {% endwith %}

    {% placeholder "Titulos de lideres" %}
  
    {% block leaders %}
      {% include "CBF/components/leaders.html" with leaders=leaders %}
    {% endblock leaders %}
 
{% endblock content %}


