{% extends "CBF/base.html" %}

{% load cms_tags sekizai_tags static compress menu_tags cache fontawesome %}

{% block content %}

  {% with request.current_page.bannerextension.title as title  %}
    {% with request.current_page.bannerextension.content as content  %}
      {% block banner %}
        {% include "CBF/components/banner.html" with content=content title=title %}    
      {% endblock banner %}
    {% endwith %}
  {% endwith %}

  {% with request.current_page.principlegroup.principle_set.all as principles  %}
    {% block principles %}
      {% include "CBF/components/principles.html" with principles=principles %}    
    {% endblock principles %}
  {% endwith %}

    {% placeholder "Titulo de lideres principales" %}

    {% with main_leaders as leaders %}
      {% block main_leaders %}
        {% include "CBF/components/leaders.html" with leaders=leaders %}    
      {% endblock main_leaders %}
    {% endwith %}

    {% placeholder "Titulos de lideres" %}
  
    {% block leaders %}
    {% include "CBF/components/leaders.html" with leaders=leaders %}
    {% endblock leaders %}
 

{% endblock content %}


