{% extends "CBF/base.html" %}

{% load cms_tags sekizai_tags static compress menu_tags cache staticfiles %}

{% block content %}
 
{% with request.current_page.slider.sliderimage_set.all as slides  %}
  {% block slideshow %}
    {% include "CBF/components/slideshow.html" with slides=slides %}    
  {% endblock slideshow  %}
{% endwith %}


  <div class="uk-container uk-container-center">

    {% with last_event as element %}

      {% block last_message %}
        {% include "CBF/components/last-message.html" with element=element %}    
      {% endblock last_message  %}

    {% endwith %}

    {% with events as elements  %}

      {% block big-cards %}
        {% include "CBF/components/big-cards.html" with elements=elements %}
      {% endblock big-cards  %}
    
    {% endwith %}

    {% with request.current_page.bannergroup.banner_set.all.0 as banner  %}

      {% block sermon_banner %}
        {% include "CBF/components/banner.html" with banner=banner %}    
      {% endblock sermon_banner %}
      
    {% endwith %}
    
    {% with sermons as elements  %}

      {% block sermon_cards %}
        {% include "CBF/components/cards.html" with elements=elements %}    
      {% endblock sermon_cards %}
    
    {% endwith %}


    {% with request.current_page.bannergroup.banner_set.all.1 as banner  %}

      {% block thought_banner %}
        {% include "CBF/components/banner.html" with banner=banner %}    
      {% endblock thought_banner %}

    {% endwith %}  

    {% with thoughts as elements  %}

      {% block thought_cards %}
        {% include "CBF/components/cards.html" with elements=elements %}    
      {% endblock thought_cards %}
    
    {% endwith %}  

  </div> <!-- end: container -->
  
  {% with request.current_page.bannergroup.banner_set.all.2 as banner  %}
    {% block follow-us %}
      {% include "CBF/components/follow-us.html" with banner=banner %}    
    {% endblock follow-us %}
  {% endwith %}

{% endblock content %}
