{% extends "CBF/base.html" %}

{% load cms_tags sekizai_tags compress menu_tags cache %}
{% load static from staticfiles %}

{% block content %}
 
{% with request.current_page.slider.sliderimage_set.all as slides  %}
  {% block slideshow %}
    {% include "CBF/components/slideshow.html" with slides=slides %}    
  {% endblock slideshow  %}
{% endwith %}


  <div class="uk-container uk-container-center">

    {% with last_event as element %}
      {% with last_element_name as element_name %}
        {% block last_message %}
          {% include "CBF/components/last-message.html" with element=element element_name=element_name %}
        {% endblock last_message  %}
      {% endwith %}
    {% endwith %}

    {% with events as elements  %}
      {% with event_element_name as element_name %}
        {% block big-cards %}
          {% include "CBF/components/big-cards.html" with elements=elements element_name=element_name %}
        {% endblock big-cards  %}
      {% endwith %}
    {% endwith %}

    {% with request.current_page.bannergroup.banner_set.all.0 as banner  %}
      {% block sermon_banner %}
        {% include "CBF/components/banner.html" with banner=banner %}    
      {% endblock sermon_banner %}
    {% endwith %}

    {% with sermons as elements  %}
      {% with sermon_element_name as element_name %}
        {% block sermon_cards %}
          {% include "CBF/components/cards.html" with elements=elements element_name=element_name %} 
        {% endblock sermon_cards %}
      {% endwith %}
    {% endwith %}


    {% with request.current_page.bannergroup.banner_set.all.1 as banner  %}
      {% block thought_banner %}
        {% include "CBF/components/banner.html" with banner=banner %}    
      {% endblock thought_banner %}
    {% endwith %}  

    {% with thoughts as elements  %}
      {% with thought_element_name as element_name %}
        {% block thought_cards %}
          {% include "CBF/components/cards.html" with elements=elements  element_name=element_name %}    
        {% endblock thought_cards %}
      {% endwith %}  
    {% endwith %}  

  </div> <!-- end: container -->
  
  {% with request.current_page.bannergroup.banner_set.all.2 as banner  %}
    {% block follow-us %}
      {% include "CBF/components/follow-us.html" with banner=banner %}    
    {% endblock follow-us %}
  {% endwith %}

{% endblock content %}
