{% extends "CBF/base.html" %}

{% load cms_tags sekizai_tags static compress menu_tags cache staticfiles %}

{% block content %}
 
    {% with request.current_page.bannergroup.banner_set.all.0 as banner %}
      {% block event_banner %}
        {% include "CBF/components/banner.html" with banner=banner %}    
      {% endblock event_banner %}
    {% endwith %}
  
	<!-- start: container -->  
	<div class="uk-container uk-container-center">

  {% with element_name as last_element_name %}
    {% block last_message %}
      {% include "CBF/components/last-message.html" with last_element_name=last_element_name %}    
    {% endblock last_message  %}
  {% endwith %}

  {% block cards %}
    {% include "CBF/components/cards.html" %}    
  {% endblock cards %}

  {% block pagination %}
    {% include "CBF/components/pagination.html" %}    
  {% endblock pagination %}


  </div> <!-- end: container -->
  
{% endblock content %}
