{% extends "TCD/base.html" %}
{% load cms_tags static fontawesome  i18n %}


{% block title %}{% trans "Confirmación de subscripción para " %} {{ newsletter.title }}  {% endblock title %}

{% block content %}
    <h1>{% trans "Confirmación de subscripción para " %} {{ newsletter.title }} </h1>
    <header id="header">
      <form class="signup-form" enctype="multipart/form-data" method="post" action=".">
        <div class="flex-container">
        {% csrf_token %}
        {{ form.as_p }}

        <input class="stretch" id="id_submit" name="submit" value="{% trans "Confirmar" %}" type="submit" />
      </div>
      </form>
    </header>

{% endblock content %}
